.component-communication{
    border-radius: 5px;
    border-color:red;
    border-style: solid;
    margin-left: 500px;
    margin-right: 570px;
    text-align: center;
    margin-top:100px;
    font-size:larger;
    background-color: white;
}