<div class="div" >
<nav class="navbar">
  <h1 class="h1">ANGULAR PRACTICE</h1>
  <ul class="ui">
    <li class="li"><a routerLink="/binding">Binding |</a></li>
    <li class="li"><a routerLink="/componentCommunication">Component communication |</a></li>
    <li class="li"><a routerLink="/apiCalls">Api Calls |</a></li>
    <li class="li"><a routerLink="/reactiveForm">Reactive Form |</a></li>
  </ul>
</nav>
<p class="p">Click the Options at right top to view Content</p>
<router-outlet></router-outlet>
</div>
<app-component-communication (output)="childToParent($event)"></app-component-communication>