.navbar{
    color: red; 
    padding: 30px;
    background-color: wheat;
}
.li,.h1{
    display: inline;
    
}
.ui{
    display: inline;
    color: red;
    background-color: white;
    margin-left: 500px;
}
.div{
    width: 1270px;
    height: 577px;
    background-color:black;
}

.p{
    background-color: red;
    color:white;
    text-align: center;
}